{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta http-equiv="refresh" content="30">
        <meta charset="utf-8">

        <title>Warehouse Availability</title>
        <style>
        table, th, td {
            border: 1px solid black;
        }
        .closed {
            background-color: #FF6961;
        }
        .appt {
            background-color: #ADD8E6;
        }
        .free {
            background-color: #90EE90;
        }
        </style>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Monday</th>
                    <th colspan="2">Tuesday</th>
                    <th colspan="2">Wednesday</th>
                    <th colspan="2">Thursday</th>
                    <th colspan="2">Friday</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Morning</th>
                    <th>Afternoon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>WHCorp</td>
                    {% for status in whcorp %}
                    <td
                     {% if 'Free' in status %} class="free" {% endif %}
                     {% if 'Appointment required' in status %} class="appt" {% endif %}
                     {% if 'closed' in status %} class="closed" {% endif %}
                    >{{status}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>American Storage</td>
                    {% for status in american_storage %}
                    <td
                     {% if 'Free' in status %} class="free" {% endif %}
                     {% if 'Appointment required' in status %} class="appt" {% endif %}
                     {% if 'closed' in status %} class="closed" {% endif %}
                    >{{status}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>
</html>
